body {
    font-family: Arial, sans-serif;
}

#fileUpload {
    margin-bottom: 20px;
}

button {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
